body{
    padding: 0;
    margin: 0;
    background-color:#7d7fc6;
    text-align: center;
}
.container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.form-input{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 300px;
    width: 250px;
}
input[type="text"]{
    padding: 25px;
    border: none;
    margin-bottom: 10px;
    outline: none;
    border-width: 0 0 2px ;
    font-size: 20px;
    border-bottom: 2px solid darkblue;
}
input[type="submit"]{
    padding: 10px;
    background-color: lightgreen;
    width: 100%;
    margin-top:10px;
    border: none;
    border-radius: 15px;
    color: black;
}
input[type="submit"]:hover{
    background-color: lightcoral;
    color: white;
}
footer{
    text-align: center;
}
a{
    color: rgb(217, 60, 60);
    text-decoration: none;
}
a:hover{
    color:lightgreen;
}
.tooltip {
    position: absolute;
    float:left;
    margin-left: 70px;
    font-size: 23px;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    border: 1px solid black;
    position: absolute;
    z-index: 1;
    padding: 10px;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
/* xl-1*/
@media (max-width: 1280px) {
    h2{
        font-size: 50px;
        color: white;
    }
    body{
        background-color: #9195F6;
    }
    input[type="text"]{
        padding: 25px;
        border: none;
        margin-bottom: 10px;
        outline: none;
        border-width: 0 0 2px ;
        font-size: 20px;
        border-bottom: 3px solid red;
    }
    h4{
        color:white;
    }
}

/* lg */
@media (max-width: 1024px) {
    h2{
        font-size: 50px;
    }
    body{
        background-color: #99BC85;
    }
}

/* md */
@media (max-width: 768px) {
    h2{
        font-size: 40px;
    }
    body{
        background-color: #40A2D8;
    }
}

/* sm */
@media (max-width: 640px) {
    h2{
        font-size: 35px;
    }
    body{
        background-color: #F28585;
    }
}

/* xs 1 */
@media (max-width: 500px) {
    h2{
        font-size: 35px;
    }
    body{
        background-color: #FFA447;
    }
}
/* xs 2*/
@media (max-width: 450px) {
    body{
        background-color: #FC6736;
        
    }
    h2{
        color:white;
        font-size: 30px;
    }
    a{
        color:white
    }
}
/* xs 3*/
@media (max-width: 400px) {
    body{
        background-color: #FFB0B0;
        font-size: x-large;
    }
    h2{
        font-size: 30px;
    }
}